@page
@model ImagesWithStudents.Pages.DetailsModel
@{

    ViewData["Title"] = "Details page";

}

<div class="card" style=" margin-top: 20px">
    <div class="card-header">
        <h1>Displaying Image and Details</h1>
       
    </div>
    <div class="card-body">
        <form method="post" action="">

            I want to see:
            <select asp-for="ImagePath" asp-items="@(new SelectList(Model.ImagepathList))">
                <option selected="selected" value="">Select a face</option>
            </select>

            <input type="submit" value="Submit" />

        </form>
    </div>
    <div class="card-footer">
        <h3>The generated face</h3>
        <div class="row">
            <img src="~/images/@Model.ImagePath" class="card-img-top img-fluid img-thumbnail rounded mx-auto d-block" />
        </div>
    </div>
</div>